@font-face {
    font-family: 'Buda';
    src: url(../font/Buda.ttf);
}


/* cyrillic-ext */

@font-face {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/arimo/v26/P5sfzZCDf9_T_3cV7NCUECyoxNk37cxcDRrBZQI.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}


/* cyrillic */

@font-face {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/arimo/v26/P5sfzZCDf9_T_3cV7NCUECyoxNk37cxcBBrBZQI.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}


/* greek-ext */

@font-face {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/arimo/v26/P5sfzZCDf9_T_3cV7NCUECyoxNk37cxcDBrBZQI.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}


/* greek */

@font-face {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/arimo/v26/P5sfzZCDf9_T_3cV7NCUECyoxNk37cxcAxrBZQI.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}


/* hebrew */

@font-face {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/arimo/v26/P5sfzZCDf9_T_3cV7NCUECyoxNk37cxcAhrBZQI.woff2) format('woff2');
    unicode-range: U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}


/* vietnamese */

@font-face {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/arimo/v26/P5sfzZCDf9_T_3cV7NCUECyoxNk37cxcDxrBZQI.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}


/* latin-ext */

@font-face {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/arimo/v26/P5sfzZCDf9_T_3cV7NCUECyoxNk37cxcDhrBZQI.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}


/* latin */

@font-face {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/arimo/v26/P5sfzZCDf9_T_3cV7NCUECyoxNk37cxcABrB.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,700;1,900&display=swap');
body {
    background-color: #070708;
}

::-webkit-scrollbar {
    display: none;
}

.bk1 {
    position: relative;
    background-image: url('../img/bk1.png');
    width: 100%;
    background-size: contain;
    height: 0;
    padding-top: 75.17%;
    background-repeat: no-repeat;
}

.navbar-brand {
    position: relative;
    font-family: 'Buda' !important;
    font-style: normal;
    font-size: 32px;
    font-weight: 300;
    margin-left: -3%;
}

.navbar {
    margin-top: -71.29%;
    position: relative;
    margin-left: 5.1%;
}

.nav-item {
    position: relative;
    margin-left: 25px;
    max-lines: 1;
}

.navbar-nav {
    position: relative;
    margin-left: 6.6%;
}

.right {
    position: relative;
    margin-top: 10px;
    margin-right: 5.1%;
}

.resmid {
    position: relative;
    margin-left: 25px;
    margin-right: 25px;
}

.nav-link {
    position: relative;
    font-family: 'Arimo' !important;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
}

.choc {
    position: relative;
    text-align: center;
    font-family: 'Buda';
    font-size: 96px;
    margin-left: 18%;
    margin-right: 18%;
    color: white;
    margin-top: 13.1%;
}

.logo {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 13.7%;
    transform-origin: 50% 50%;
    -webkit-animation: rotating 5s linear infinite;
}

@-webkit-keyframes rotating {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

.khay {
    position: absolute;
    top: 0;
    left: 0;
    width: 26.3%;
    margin-top: 19.3%;
    margin-left: 5.2%;
}

.papapa {
    position: absolute;
    top: 0;
    left: 0;
    width: 44.6%;
    margin-top: 28.2%;
    margin-left: 50.2%;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 5.2%;
    margin-top: 55.5%;
    width: 32.8%;
}

.illi1 {
    position: relative;
    width: 95.8%;
    margin-left: -3.2%;
    margin-top: 35.4%;
}

.bk2 {
    position: relative;
    background-repeat: no-repeat;
    background-image: url('../img/bk2.png');
    width: 100%;
    background-size: contain;
    height: 0;
    padding-top: 182.76%;
    margin-top: 3.19%;
}

.change {
    position: relative;
    text-align: right;
    color: white;
    font-size: 80px;
    font-family: 'Buda';
    margin-right: 5.21%;
    margin-top: -171.65%;
}

.pchange {
    position: relative;
    font-weight: 400;
    margin-top: 6.7%;
    font-family: "Arimo";
    color: white;
    font-size: 32px;
    font-style: normal;
}

.contain {
    position: relative;
    float: right;
    width: 40%;
    margin-right: 5.21%;
}

.illi2 {
    position: relative;
    margin-left: 6.31%;
    width: 93.69%;
    margin-top: 17.71%;
}

.trail {
    position: relative;
    color: white;
    font-size: 80px;
    font-family: 'Buda';
    max-width: 60.07%;
    margin-left: 8.16%;
    margin-top: 4.86%;
}

.ptrail {
    position: relative;
    font-weight: 400;
    margin-left: 8.16%;
    margin-top: 5.34%;
    font-family: "Arimo";
    color: white;
    font-size: 32px;
    font-style: normal;
    max-width: 40%;
}

.lesson {
    position: relative;
    color: white;
    font-size: 70px;
    font-family: 'Buda';
    margin-top: 32.32%;
    text-align: center;
}

.center {
    margin-top: 8%;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.tst {
    position: relative;
    width: 100%;
}

.moit {
    position: relative;
    width: 43.63%;
    margin-left: 0.5%;
    margin-right: 0.5%;
}

h2 {
    position: relative;
    font-size: 36px;
    color: white;
    font-family: 'Buda';
    margin-top: 2.54%;
}

.center2 {
    margin-top: 3.53%;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.descript {
    position: relative;
    font-family: 'Source Serif Pro';
    color: white;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    max-width: 60%;
}

.deuxf {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -7.04%;
    width: 45.14%;
}

.maqu {
    position: absolute;
    top: 0;
    right: 0;
    width: 45.13%;
    margin-top: 61%;
}

.white {
    position: relative;
    background-color: white;
    padding-top: 0.01%;
    margin-top: 18.80%;
}

.prof {
    position: relative;
    font-size: 64px;
    color: black;
    font-family: 'Buda';
    margin-top: 10.19%;
    margin-left: 5.2%;
}

.p1 {
    position: relative;
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    letter-spacing: 0.01em;
    color: #000000;
    margin-left: 5.2%;
    max-width: 45%;
    margin-top: 5.21%;
}

.p2 {
    position: relative;
    margin-left: 49%;
    text-align: right;
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    letter-spacing: 0.01em;
    color: #000000;
    max-width: 45%;
    margin-top: 5.21%;
}

.center3 {
    margin-top: 6.31%;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 20.14%;
}

#assistant {
    position: relative;
    margin-top: 11.6%;
    width: 21.53%;
    height: 33.62%;
}

#mastere {
    position: relative;
    margin-top: 5.8%;
    width: 21.53%;
    height: 36%;
}

#artiste {
    position: relative;
    margin-top: 17.4%;
    width: 21.53%;
    height: 30.09%;
}

#profesor {
    position: relative;
    width: 21.53%;
    height: 31.77%;
}

.element {
    position: relative;
    margin-left: 0.58%;
    margin-right: 0.58%;
}

.apptitle {
    margin-top: 11.92%;
    position: relative;
    color: white;
    font-size: 70px;
    font-family: 'Buda';
    max-width: 50%;
    margin-left: 5.21%;
}

.appdescript {
    position: relative;
    color: white;
    font-family: 'Arimo';
    max-width: 50%;
    margin-left: 5.21%;
    font-size: 24px;
    margin-top: 2.26%;
    font-weight: 400;
}

.phone {
    position: absolute;
    right: 0;
    margin-right: 5.21%;
    margin-top: 11.92%;
    width: 36.86%;
}

.appdescript2 {
    position: relative;
    color: white;
    font-family: 'Arimo';
    max-width: 50%;
    margin-left: 49.06%;
    font-size: 24px;
    margin-top: 2.26%;
    font-weight: 400;
    padding-bottom: 17.36%;
}

.apptitle2 {
    margin-top: 19.1%;
    position: relative;
    color: white;
    font-size: 70px;
    font-family: 'Buda';
    max-width: 50%;
    margin-left: 49.06%;
}

.phone2 {
    position: absolute;
    margin-top: 13.9%;
    width: 39%;
    margin-left: 5.21%;
}

.lips {
    position: relative;
    width: 84.31%;
    margin-left: 15.69%;
}

.bk3 {
    position: relative;
    background-repeat: no-repeat;
    background-image: url('../img/bk3.png');
    width: 100%;
    background-size: contain;
    height: 0;
    padding-top: 119.9%;
}

.succes {
    position: relative;
    font-family: 'Buda';
    font-style: normal;
    font-weight: 300;
    font-size: 70px;
    color: #FFFFFF;
    margin-top: -114.7%;
    max-width: 45%;
    margin-left: 5.2%;
}

.succesp {
    position: relative;
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
    margin-left: 5.2%;
    max-width: 40%;
    margin-bottom: 6.6%;
}

.c1 {
    position: relative;
    float: right;
    margin-right: 4%;
    width: 44%;
    margin-top: -15%;
}

h3 {
    position: relative;
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
}

.avis1 {
    position: relative;
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    color: #FFFFFF;
    margin-top: 1.2%;
}

.c2 {
    position: relative;
    margin-top: 5.78%;
    width: 41.37%;
    margin-left: 5.2%;
}

.bk4 {
    position: relative;
    background-repeat: no-repeat;
    background-image: url('../img/bk4.png');
    width: 100%;
    background-size: contain;
    height: 0;
    padding-top: 113.17%;
    margin-top: 20%;
}

.pp {
    position: relative;
    width: 100%;
    margin-top: -162%;
}

.tdescript {
    max-width: 70%;
    position: relative;
    margin-top: -70%;
    font-family: 'Buda';
    font-style: normal;
    font-weight: 300;
    font-size: 70px;
    line-height: 88px;
    text-align: center;
}

.centre {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.line {
    position: relative;
    margin-left: 5.21%;
    margin-right: 5.21%;
    width: 61.68%;
}

.dbord {
    position: relative;
    border-radius: 40px;
    text-decoration: none;
    background-color: #A0843D;
    text-align: center;
    padding: 30px;
}

.inner {
    position: relative;
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF
}

.marge {
    position: relative;
    margin-top: 6.12%;
}

.dbord2 {
    position: relative;
    border: 1px solid #A0843D;
    border-radius: 40px;
    text-decoration: none;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 60px;
    padding-right: 60px;
    margin-left: 5%;
}

.inner2 {
    position: relative;
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #A0843D;
}

.dbord3 {
    position: relative;
    border-radius: 25px;
    text-decoration: none;
    background-color: #A0843D;
    text-align: center;
    padding: 30px;
}

.centre2 {
    position: relative;
    margin-top: -50%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.gold {
    position: relative;
    display: inline-flex;
    background-color: #AA8E46;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: -4%;
}

.news {
    position: relative;
    margin-left: 6.5%;
    font-family: 'Buda';
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    max-width: 80%;
    margin-top: 15%;
}

.test {
    position: relative;
    border-radius: 50px;
    border: none;
    height: 100px;
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #000000;
    width: 64%;
    padding-left: 5.85%;
}

::placeholder {
    position: relative;
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #7A7A7A;
}

form {
    position: relative;
    margin-left: 6.5%;
    width: 76.17%;
    border-radius: 50px;
    height: 100px;
    background-color: #FFFFFF;
}

textarea:focus,
input:focus {
    position: relative;
    outline: none;
}

.dbord4 {
    position: relative;
    border-radius: 50px;
    text-decoration: none;
    background-color: #000000;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 35px;
    padding-bottom: 35px;
}

.marge2 {
    position: relative;
    width: 100%;
    margin-top: 8%;
}

.ri {
    float: right;
    position: relative;
    padding-top: 50%;
    width: 38.42%;
}

.test2 {
    margin-top: 8%;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.newsp {
    position: relative;
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
    margin-left: 6.5%;
    max-width: 60%;
    margin-top: 1.75%;
}

.dbord10 {
    position: relative;
    border: 1px solid #FFFFFF;
    border-radius: 40px;
    text-decoration: none;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

.inner10 {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
}

.bflex {
    margin-top: 18%;
    position: relative;
    display: flex;
    margin-left: 5.21%;
}

.chocobn {
    position: relative;
    font-family: 'Buda';
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    color: #FFFFFF;
}

.taille {
    width: 29.51%;
}

.tb+.tb {
    margin-top: 20px;
}

.tb {
    position: relative;
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    color: #FFFFFF;
}

.copy {
    margin-top: 2.37%;
    text-align: center;
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    /* identical to box height, or 37px */
    color: #FFFFFF;
    padding-bottom: 2.37%;
}

.yaoi {
    margin-top: 5.31%;
    width: 100%;
}

.bbflex {
    margin-top: 50px;
}